
html {
	background-color: #000;
}

div.parallax-wrapper {
	position: relative;
	width: 100px;
	height: 100px;
	z-index: 5;
}

div.parallax.back {
	background-color: #000;
	background: url('../res/parallax/rsz_banner.jpg') center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	
	position: relative;
	z-index: 6;

	top: 0px;

	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;

}

div.parallax.mid {
	position: absolute;
	color: #FFF;
	z-index: 7;

	padding-left: calc(50% - 60.6795px);

	text-transform: uppercase;
	text-align: center;

	top: 0px;
}

div.parallax.mid div {
	padding-top: calc(100vh / 3.4);
	position: relative;
}

div.parallax.front {
	z-index: 8;
}
